camelot-py==0.11.0
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
et-xmlfile==1.1.0
exceptiongroup==1.2.2
ghostscript==0.7
importlib_resources==6.4.5
iniconfig==2.0.0
numpy==1.24.4
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.1
pandas==2.0.3
pandas-stubs==2.0.3.230814
pdfminer.six==20240706
pdftopng==0.2.3
pluggy==1.5.0
pycountry==24.6.1
pycparser==2.22
pypdf==4.3.1
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tabulate==0.9.0
tomli==2.0.1
types-pytz==2024.1.0.20240417
typing_extensions==4.12.2
tzdata==2024.1
zipp==3.20.2
